---
import Layout from "../layouts/Layout.astro";

---

<Layout title="contact"> 
<div class="sm:pt-20">
    <h1 style="view-transition-name: contact-title;" class="font-['Geist_Mono'] sm:text-6xl lg:text-8xl font-black text-red">
        Contacto.
    </h1>
    <div class="pt-20">
        <div>
            <span style="view-transition-name: contact-info;" class="font-['Geist_Mono'] sm:text-5xl lg:text-6xl font-black text-black">Puedes encontrarme en...</span>
        </div>
        <div class="pt-20">
            <p style="view-transition-name: contact-linkedin;" class="titulo font-['Geist_Mono'] text-4xl font-black text-red">
                <a class="underline" target="_blank" href="https://www.linkedin.com/in/pablo-hdzc/">Linkedin</a>
            </p>
            <p style="view-transition-name: contact-github;" class="pt-12 titulo font-['Geist_Mono'] text-4xl font-black text-red">
                <a class="underline" target="_blank" href="https://github.com/pablotz">GitHub</a>
            </p>
            <p style="view-transition-name: contact-mail;" class="pt-12 titulo font-['Geist_Mono'] sm:text-2xl lg:text-4xl font-black text-red">
                <a class="underline" target="_blank" href="mailto:pablotz100@hotmail.com">pablotz100@hotmail.com</a>
            </p>
        </div>
    </div>
</div>
</Layout>