---
import InformationProjects from "../components/InformationProjects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Side Projects">
    <div style="view-transition-name: projects;" class="lg:col-span-4 sm:pt-20">
        <h1 style="view-transition-name: side-projects-col;" class="titulo font-['Geist_Mono'] sm:text-5xl lg:text-8xl font-black text-red">
            Side Projects.
        </h1>
        <div class="lg:mb-36 lg:mt-24 sm:mt-0">
            <InformationProjects 
            title="Words Trial"
            description="Words Trial. Este proyecto nace como inspiracion de un LEGENDARIO juego de Facebook llamado Words Challenge el cual tenia la misma premisa que este proyecto. Formar palabras con letras que se generan de forma aleatoria."
            image="/img/words-trial.png"
            url="https://62cc5cacd032a6437a42c978--resonant-lokum-d55027.netlify.app/"
            />    
        </div>
        <div class="lg:mb-36">
            <InformationProjects 
                title="Crypto Dashboard"
                description="Las cripto monedas pueden variar cada día por eso mismo tener una forma de monitorearlas en diferentes tipos de divisas puede llegar a ser muy útil."
                image="/img/crypto-dashboard.png"
                url="https://pablotz.github.io/CryptoDashboard/"
            />
        </div>
        <div class="lg:mb-36">
            <InformationProjects 
            title="inTime"
            description="inTime un Age timer. Algunos los conocen como motivation timers. Pero depende de la perspectiva de cada persona."
            image="/img/inTime.png"
            url="https://pablotz.github.io/inTime/"
            />    
        </div>
        
        <div class="mb-20 mt-20">
            <a class="inline-flex items-baseline" href="https://github.com/pablotz" target="_blank">
                <h1 class="underline titulo font-['Geist_Mono'] text-5xl font-black text-red">Más Proyectos</h1>
            </a>
        </div>
    </div>
</Layout>