---
---

<div class="
    sm:pt-20
    lg:pt-10
    xl:pt-20
    xl:mr-20
    col-span-2
">
    <h1 style="view-transition-name: about-me;" class="titulo font-['Geist_Mono'] sm:text-6xl lg:text-8xl font-black text-red">Acerca <br> de mi.</h1>
    <p style="view-transition-name: paragraph1;" class="lg:pt-14 sm:pt-10 lg:pb-5 text-2xl font-semibold">
		<strong class="text-red text-3xl">Soy Pablo Hernández Castillo!</strong><br>
		Software Engineer con 3 años de experiencia en el mundo del desarrollo de sofware.
	</p>
    <p style="view-transition-name: paragraph2;" class="lg:pb-5 sm:pt-5 lg:pt-0 text-2xl font-semibold">
        Actualmente, creciendo como desarrollador de tiempo completo en <strong class="underline text-red"> <a target="_blank" href="https://www.ellucian.com/">Ellucian.</a></strong>
    </p>
    <p style="view-transition-name: paragraph3;" class="pb-5 sm:pt-5 lg:pt-0 text-2xl font-semibold">
        El desarrollar y crear nuevas ideas es algo que me motiva día con día. 
    </p>
</div>